#container{
    display: flex;
}
.left-block img{
    float: left;
    width: 260px;
    margin-right: 30px;
}
table,td, tr{
    border: 1.5px solid gray  ;
    border-collapse: collapse;
    
}
body{
    background-color: #FFEDCA;
}
td{
    width: 50px;
    height: 15px;
}
h2{
    text-align: center;
    color: blueviolet;
}

.right-block{
    float: right
}
