body{
    position: relative;
}
form {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%) translateY(50%);

    
}
h1{
    color: #8A2BE2;
}
.btn-submit{
    border-radius: 6px;
    border: 1px solid black;
    padding: 2px 4px;
    cursor: pointer;
}
